.container 
{width:960px;
margin:0 auto;
padding:10px 25px;
border:1px solid #ccc;
background:#fff;
border-style: solid;
border-width: medium;
font-size: 20px; }

.conten
{
	 padding: 15px 50px 0.5px 25px;
 

}

.carr
{
	background-color: grey;
	padding: 5px;
} 

.carr
{
	background-color: grey;
	padding: 5px;
} 

.aca
{
	background-color: grey;
	padding: 5px;
}  

.sof
{
	background-color: grey;
	padding: 5px;
}


